# Database (sangat besar)
data/db/
*.db
*.sqlite
*.sqlite3

# Data mentah besar (opsional, boleh di-comment jika ingin tetap di-push)
# data/raw/

# File temporary / session
*.session.sql
__pycache__/
*.pyc
.DS_Store
Thumbs.db

# Environment
.env
.venv/
venv/